p {
  font-family: "Varela", sans-serif;
  font-size: 16px;
  margin: 4px;
}

body {
  margin: 0px;
  background-image: url("space.jpeg");
  background-repeat: repeat;
}

.main-content {
  height: calc(100vh - 50px);
  margin-top: 50px;
  overflow-y: scroll;
}
