.grid-controls-bar {
  background-color: #bbe6ff;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 3px #00000026;
}

.grid-controls-bar__container {
  max-width: 1020px;
  margin: 0px auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
