.grid-controls-bar {
  background-color: #bbe6ff;
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 3px #00000026;
}

.grid-controls-bar__container {
  max-width: 1020px;
  margin: 0px auto;
  height: 30px;
}
