.officer-card {
  box-sizing: border-box;
  width: 500px;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 20px;
  justify-self: center;
  background-color: #bbe6ff;
}

.officer-img-container {
  width: 50%;
  display: flex;
  align-items: center;
}

.officer-img-container img {
  border-radius: 10px;
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.officer-details {
  display: inline-block;
  width: 50%;
}

.officer-info-title {
  display: flex;
  align-items: center;
}

.officer-details h2,
.officer-details h4 {
  font-family: "Audiowide", cursive;
}

.crew-number {
  font-size: 14px;
  color: rgb(117, 117, 117);
  margin-left: 10px;
}

.officer-info-label {
  border-bottom: 2px solid black;
  font-size: 14px;
  margin-top: 10px;
}

.division-badge {
  color: white;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 3px #00000026;
  margin-bottom: 5px;
}

.division-badge.command {
  background-color: gold;
}

.division-badge.operations {
  background-color: red;
}

.division-badge.science {
  background-color: blue;
}

@media screen and (max-width: 550px) {
  .officer-card {
    width: calc(100% - 20px);
    display: block;
  }

  .officer-img-container {
    width: 100%;
  }

  .officer-img-container img {
    margin: auto;
  }

  .officer-details {
    display: block;
    width: 100%;
  }
}
