.officer-card,
.officer-card-placeholder {
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  justify-self: center;
  box-sizing: border-box;
  background-color: #bbe6ff;
  padding: 20px;
  width: 500px;
}

.officer-img-container {
  width: 50%;
  display: flex;
  align-items: center;
}

.officer-img-container img {
  border-radius: 10px;
  width: 200px;
  height: 270px;
  object-fit: cover;
}

.officer-details {
  display: inline-block;
  width: 50%;
}

.officer-info-title {
  display: flex;
  align-items: center;
}

.officer-details h2,
.officer-details h4 {
  font-family: "Audiowide", cursive;
}

.crew-number {
  font-size: 14px;
  color: rgb(117, 117, 117);
  margin-left: 10px;
}

.officer-info-label {
  border-bottom: 2px solid black;
  font-size: 14px;
  margin-top: 10px;
}

.division-badge {
  color: white;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 3px #00000026;
  margin-bottom: 5px;
}

.division-badge.command {
  background-color: gold;
}

.division-badge.operations {
  background-color: red;
}

.division-badge.science {
  background-color: blue;
}

.officer-card-placeholder {
  pointer-events: none;
  border-radius: 5px;
  animation-name: loading_fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  justify-self: center;
}

@keyframes loading_fade {
  0% {
    opacity: 100%;
  }
  10% {
    opacity: 90%;
  }
  20% {
    opacity: 80%;
  }
  30% {
    opacity: 70%;
  }
  40% {
    opacity: 60%;
  }
  50% {
    opacity: 50%;
  }
  60% {
    opacity: 60%;
  }
  70% {
    opacity: 70%;
  }
  80% {
    opacity: 80%;
  }
  90% {
    opacity: 90%;
  }
  100% {
    opacity: 100%;
  }
}

.officer-info-title-placeholder {
  background-color: rgb(69, 69, 69);
  width: 160px;
  height: 25px;
  border-radius: 5px;
  margin: 20px 0px;
}

.division-badge-placeholder {
  width: 70px;
  height: 21px;
  border-radius: 5px;
  background-color: rgb(34, 190, 255);
}

.text-placeholder {
  height: 15px;
  background-color: gray;
  width: 100px;
  border-radius: 5px;
  margin: 10px 4px;
}

.text-placeholder--long {
  width: 120px;
}

@media screen and (max-width: 550px) {
  .officer-card,
  .officer-card-placeholder {
    width: calc(100% - 20px);
    display: block;
  }

  .officer-img-container {
    width: 100%;
  }

  .officer-img-container img {
    margin: auto;
  }

  .officer-details {
    display: block;
    width: 100%;
  }
}
